# C language
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile.cmake
cmake-build-debug/


# IDE and Editor files
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
